:root {
    --color-primary: #434455;
    --color-secondary: #ffffff;
    --color-logo: #4D5AE5;
    --color-light-dark: #2e2f42;
    --color-hover-focus: #404bbf;
    --color-secondary-light: #F4F4FD;
    --color-text: #8E8F99;
    --color-border: #E7E9FC;
    --color-light-green: #31D0AA;
    --color-modal-background:#fcfcfc;

}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-primary);
    background-color: var(--color-secondary);

}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/* header */

.header-hero {
    border-bottom: 1px solid var(--color-border);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}


.header-hero .container {
    display: flex;
    align-items: center;

}

.header-nav {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-grow: 1;
}


.header-logo,
.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-logo);
}

.header-logo {
    margin-right: 76px;
}

.span {
    color: var(--color-light-dark);
}

.header-list {
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 24px 0;
}

.top-line {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-light-dark);
    padding: 24px 0;
}

.top-line:hover,
.top-line:focus {
    color: var(--color-hover-focus);
}

.header-list .top-line {
    position: relative;
    color: var(--color-hover-focus);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.header-list .active::after {
    position: absolute;
    display: block;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    bottom: -1px;
    background-color: var(--color-hover-focus);
    content: "";
}

/* Address */

.address-main {
    font-style: normal;
    display: flex;
    gap: 40px;
}

.address-info {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-primary);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.address-info:hover,
.address-info:focus {
    color: var(--color-hover-focus);
}

.section-main-one,
.section-main-two,
.section-main-three,
.section-main-four {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* section 1 */

.section-main-one {
    background-color: var(--color-light-dark);
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 188px 0;

}

.section-title-main {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-secondary);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
    margin-bottom: 48px;
}

.button-style {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-logo);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-secondary);
    cursor: pointer;
    display: block;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-style:hover,
.button-style:focus {
    background-color: var(--color-hover-focus);
}

/* section 2  */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-main-two {
    padding: 120px 0;
}

.section-two-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.features-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border-radius: 4px;
    border: 1px solid var(--color-text);
    background-color: var(--color-secondary-light);
    margin-bottom: 8px;
}

.list-two {
    width: calc((100% - 72px) / 4);
}

.section-title-two {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-light-dark);
    margin-bottom: 8px;

}

.section-description-two {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-primary);
}

/* section 3 */

.section-main-three {
    background-color: var(--color-secondary-light);
}

.section-title-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-light-dark);
    margin-bottom: 8px;
}

.section-description-three {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-primary);
    padding: 32px 0;

}

.div-team {
    display: flex;
    flex-direction: column;
    padding: 32px 0 32px 0;
    text-align: center;
    margin-bottom: 8px;
}

.section-tree-list {
    background-color: var(--color-secondary-light);
    width: calc((100%-3*24px)/4);
    margin-bottom: 72px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-list {
    display: flex;
    gap: 24px;

}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-light-dark);
    text-transform: capitalize;
    margin-bottom: 72px;
}

.ul-social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.a-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-logo);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
}

.a-social-link:hover,
.a-social-link:focus {
    background-color: var(--color-hover-focus);
}

.icon {
    fill: var(--color-secondary-light);

}


/* section 4 */

.section-main-four {
    padding: 120px 0 120px 0;
}

.our-portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-light-dark);
    text-transform: capitalize;
    margin-bottom: 72px;
}

.section-title-four {
    padding: 32px 0px;
    border-top: none;
    margin-bottom: 8px;
}

.section-description-four {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    flex-basis: calc((100% - 72) / 3);
}

.div-portfolio-text {
    padding: 32px 16px;
    border: 1px solid var(--color-border);
    border-top: none;
}

.section-four-list {
    width: calc((100% - 48px) / 3);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-four-list:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);

}

.portfolio-show {
    position: relative;
    overflow: hidden;
}

.overlay {
    padding: 40px 32px;
    background-color: var(--color-logo);
    color: var(--color-secondary-light);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
}

.section-four-list:hover .overlay {
    transform: translateY(0);
}


/* footer */

.footer {
    background-color: var(--color-light-dark);
    padding: 100px 0;
}

.footer-first-block {
    margin-right: 120px;
}

.move-blocks {
    display: flex;
    align-items: baseline;
}

.footer-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-span {
    color: var(--color-secondary-light);
}

.footer-description {
    color: var(--color-secondary-light);
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-second-block {
    width: 208px;
}

.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.footer-text {
    display: inline-block;
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-secondary);
}

.social-item {
    width: 40px;
    height: 40px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-logo);
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.f-icon {
    fill: var(--color-secondary-light)
}

.social-link:hover,
.social-link:focus {
    background-color: var(--color-light-green);

}

.footer-subscribe {
    margin-left: 80px;
  }
  .subscribe-title {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-secondary);
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
  }
  .footer-form {
    display: flex;
    gap: 24px;
    align-items: end;
  }
  .footer-label {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-secondary);
    line-height: 1.5;
    letter-spacing: 0.02em;
    gap: 16px;
  }
  .footer-input {
    color: var(--color-secondary);
    background-color: var(--color-light-dark);
    border: 1px solid var(--color-secondary);
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 8px 16px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }
  .footer-input::placeholder {
    color: var(--color-secondary);
    font-weight: 400;
    font-size: 12px;
    line-height: 2em;
    letter-spacing: 0.04;
  }
  .footer-input:focus {
    outline: none;
  }
  .subscribe-btn {
    font-family: 'Roboto', sans-serif;
    min-width: 165px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 16px;
    padding: 8px 24px;
    background-color: var(--color-logo);
    color: var(--color-secondary);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    border: none;
  }
  .subscribe-btn:hover,
  .subscribe-btn:focus {
    background-color: var(--color-hover-focus);
  }
  .subscribe-icon {
    margin-left: 16px;
    fill: var(--color-secondary);
    width: 24px;
    height: 24px;
  }
  

  /* Modal window  */

.backdrop {
  /* opacity: 0;
    visibility: hidden;
    pointer-events: none; */

    opacity: 1;
    visibility: visible;
    pointer-events: auto;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.40);
    position: fixed;
    cursor: default;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  
  /* .backdrop.is-open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  } */

  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--color-modal-background);
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    padding: 24px;
    padding-top: 72px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  
  .modal-title {
    font-weight: 500;
    font-size: 16px;
    color: var(--color-light-dark);
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
  }
  
  .modal-close-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 24px;
    right: 24px;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: var(--color-border);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }
  .modal-close-icon {
    width: 8px;
    height: 8px;
    fill: var(--color-light-dark);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-close-btn[type='button']:hover,
  .modal-close-btn[type='button']:focus {
    background-color: var(--color-hover-focus);
    border: none;
  }
  .modal-close-btn[type='button']:hover .modal-close-icon,
  .modal-close-btn[type='button']:focus .modal-close-icon {
    fill: var(--color-secondary);
  }
  .modal-form {
    display: flex;
    flex-direction: column;
  }
  .field-block {
    margin-bottom: 8px;
  }
  .modal-label {
    display: block;
    margin-bottom: 4px;
    color: var(--color-text);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    position: relative;
  }
  .modal-label a {
    color: var(--color-logo);
    text-decoration: underline;
  }
  .modal-label a:hover,
  .modal-label a:focus,
  .modal-label a:active {
    text-decoration: none;
  }
  .field-subblock {
    position: relative;
  }
  .modal-field {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-field:focus,
  .modal-field:active {
    border: 1px solid var(--color-logo);
  }

  .modal-icon {
    position: absolute;
    width: 18px;
    height: 24px;
    left: 16px;
    fill: var(--color-light-dark);
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-field:focus + .modal-icon {
    fill: var(--color-logo);
  }
  .textarea-block {
    margin-bottom: 16px;
  }
  .modal-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-textarea:focus {
    border-color: var(--color-logo);
  }
  .checkbox-block {
    margin-bottom: 24px;
  }
  .user-privacy-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--color-text);
  }
  .user-privacy-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
  }
  .user-privacy-icon {
    fill: var(--color-secondary-light);
  }
  input[type='checkbox']:checked + label span {
    background-color: var(--color-hover-focus);
    border: none;
    fill: var(--color-secondary-light);
  }
  .user-privacy-link {
    color: var(--color-logo);
    text-decoration: underline;
  }
  .modal-button {
    padding: 16px 32px;
    background-color: var(--color-logo);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--color-secondary);
    border-radius: 4px;
    border: 1px solid transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin: 0 auto;
    margin-top: 24px;
    min-width: 169px;
    height: 56px;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-button:hover,
  .modal-button:focus {
    background-color: var(--color-hover-focus);
  }
  
